studies/*/
studiesTemp*
daemonScripts/gdi*
logins/*
lists/*
nlpTrainers/*.csv
*.swp
*.pyc
*GeoPickle
*ShakeSpeare*
optimizeScores/*
libraries/Shake*/*
*.zip
*test*
*Collection*
*ickle*
*Best*
*best*
dbFiles/*
*.json
caches/GeoPickle.txt
*.mp4

caches/GeoPickle.txt
